#cx-plugin-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cx-plugin-modal-loader {
    position: absolute;
}